# Виртуальное окружение
.venv/

# Кэш и временные файлы
__pycache__/
*.pyc
*.pyo
*.pyd

# Конфиги окружения
.env
.env.local
.env.*.local

# Логи
*.log

# БД и прочие файлы, которые не должны попадать в репозиторий
*.sqlite3
newsbot.sqlite3

# IDE и системные файлы
.vscode/
.idea/
.DS_Store
